// Base
$white: #ffffff;
$black: #000000;

// green
$green-50: #f7ffee;
$green-100: #e1ffbd;
$green-200: #bae48b;
$green-300: #a5d66e;
$green-400: #8fc353;
$green-500: #7eae47;
$green-600: #6f9b3d;
$green-700: #5d8631;
$green-800: #4c7125;
$green-900: #355415;

// violet
$violet-50: #f5f3ff;
$violet-100: #ede9fe;
$violet-200: #ddd6fe;
$violet-300: #c4b5fd;
$violet-400: #a78bfa;
$violet-500: #8b5cf6;
$violet-600: #7c3aed;
$violet-700: #6d28d9;
$violet-800: #5b21b6;
$violet-900: #4c1d95;

// gray
$gray-50: #f7f8fa;
$gray-100: #f2f3f5;
$gray-150: #f3f4f6;
$gray-200: #dfe1e5;
$gray-300: #c5c9d1;
$gray-400: #a5abb8;
$gray-500: #7b818c;
$gray-600: #5a5f69;
$gray-700: #3e424a;
$gray-800: #282b30;
$gray-900: #141619;

// red
$red-50: #fef2f2;
$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #e32d2d;

// orange
$orange-50: #fff7ed;
$orange-100: #ffedd5;
$orange-200: #fed7aa;
$orange-300: #fdba74;
$orange-400: #fb923c;
$orange-500: #f97316;
$orange-600: #ea580c;
$orange-700: #c2410c;
$orange-800: #9a3412;
$orange-900: #7c2d12;

// yellow
$yellow-50: #fefce8;
$yellow-100: #fef9c3;
$yellow-200: #fef08a;
$yellow-300: #fde047;
$yellow-400: #facc15;
$yellow-500: #eab308;
$yellow-600: #ca8a04;
$yellow-700: #a16207;
$yellow-800: #854d0e;
$yellow-900: #713f12;

// sky
$sky-50: #f0f9ff;
$sky-100: #e0f2fe;
$sky-200: #bae6fd;
$sky-300: #7dd3fc;
$sky-400: #38bdf8;
$sky-500: #0ea5e9;
$sky-600: #0284c7;
$sky-700: #0369a1;
$sky-800: #075985;
$sky-900: #0c4a6e;

:root {
  --green-50: #{$green-50};
  --green-100: #{$green-100};
  --green-200: #{$green-200};
  --green-300: #{$green-300};
  --green-400: #{$green-400};
  --green-500: #{$green-500};
  --green-600: #{$green-600};
  --green-700: #{$green-700};
  --green-800: #{$green-800};
  --green-900: #{$green-900};

  --violet-50: #{$violet-50};
  --violet-100: #{$violet-100};
  --violet-200: #{$violet-200};
  --violet-300: #{$violet-300};
  --violet-400: #{$violet-400};
  --violet-500: #{$violet-500};
  --violet-600: #{$violet-600};
  --violet-700: #{$violet-700};
  --violet-800: #{$violet-800};
  --violet-900: #{$violet-900};

  --gray-50: #{$gray-50};
  --gray-100: #{$gray-100};
  --gray-150: #{$gray-150};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-800: #{$gray-800};
  --gray-900: #{$gray-900};

  --red-50: #{$red-50};
  --red-100: #{$red-100};
  --red-200: #{$red-200};
  --red-300: #{$red-300};
  --red-400: #{$red-400};
  --red-500: #{$red-500};
  --red-600: #{$red-600};
  --red-700: #{$red-700};
  --red-800: #{$red-800};
  --red-900: #{$red-900};

  --orange-50: #{$orange-50};
  --orange-100: #{$orange-100};
  --orange-200: #{$orange-200};
  --orange-300: #{$orange-300};
  --orange-400: #{$orange-400};
  --orange-500: #{$orange-500};
  --orange-600: #{$orange-600};
  --orange-700: #{$orange-700};
  --orange-800: #{$orange-800};
  --orange-900: #{$orange-900};

  --yellow-50: #{$yellow-50};
  --yellow-100: #{$yellow-100};
  --yellow-200: #{$yellow-200};
  --yellow-300: #{$yellow-300};
  --yellow-400: #{$yellow-400};
  --yellow-500: #{$yellow-500};
  --yellow-600: #{$yellow-600};
  --yellow-700: #{$yellow-700};
  --yellow-800: #{$yellow-800};
  --yellow-900: #{$yellow-900};

  --sky-50: #{$sky-50};
  --sky-100: #{$sky-100};
  --sky-200: #{$sky-200};
  --sky-300: #{$sky-300};
  --sky-400: #{$sky-400};
  --sky-500: #{$sky-500};
  --sky-600: #{$sky-600};
  --sky-700: #{$sky-700};
  --sky-800: #{$sky-800};
  --sky-900: #{$sky-900};
}
