@import "./colors.scss";
@import "./fonts.scss";
@import "@tumarsoft/ogogo-ui/styles";
// TODO: move classes that are used globally to its components or create component with scoped styles


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body * {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.sm-img {
  width: 24px;
  height: 24px;
}

.textarea-container {
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  svg {
    margin-right: 8px;
  }
}

.modal {
  .modal-container.right {
    min-height: 100%;
  }
}
