@import "./colors.scss";
@import "./fonts.scss";
@import "@tumarsoft/ogogo-ui/styles";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body * {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.textarea-container {
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
}

.modal {
  .modal-container.right {
    min-height: 100%;
  }
}
